.title {
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight: bold;
}

th {
	text-align: center;
}

table {
	table-layout: fixed;
}

table tbody td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.activity-title {
	font-weight: bold;
	font-size: 1.3em;
	margin: 10px auto;
}

.activity-content{
	padding: 5px;
}

.header-container{
	padding: 0px;
}

.item-label {
	font-weight: bold;
	font-size: 1.3em;
}

.item-content{
	font-size: 1.3em;
}

.content .row{
	margin-bottom: 7px;
}

.border-form {
	border: 1px solid #BDBDBD;
	border-radius: 5px;
	margin: 50px 20px 20px 20px;
}