<!DOCTYPE html>
<html>
	<head lang="en">
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta http-equiv=X-UA-Compatible content=IE=EmulateIE7>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="format-detection" content="telephone=no">
		<title>活动详情</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/custom.css" />
	</head>
	<body>
		<div class="container-fluid header-container">
			<header class="bg-primary">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-1 text-center">
							<li class="fa fa-angle-left fa-2x"></li>
						</div>
						<div class="col-xs-10 text-center title">
							活动详情
						</div>
					</div>
				</div>
			</header>
		</div>
		<div class="container-fluid content">
			<div class="row text-center activity-title">
				宁夏中阿金融论坛
			</div>
			<div class="row">
				<div id="activityContent" class="activity-content">
				  fjksdafsdjfkjsdfkjdsaf
				  fjdskjfksajdfsadjfkjsadf
				  sdfjksdajfkasjdfkjsadkf
				  fadjkdsajfakdfsj
				  asdfjklasjfkldjfs
				  fsdajkfjaskdfjskadjf
				  sdafjkasjfksadj
				</div>
			</div>
			<div class="row">
				<button type="button" class="btn btn-primary text-center center-block" style="font-size: 1em">报名</button>
			</div>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	   
		<script type="text/javascript">
		$(function(){
			
		});
		
		</script>
	</body>
</html>