<!DOCTYPE html>
<html>
	<head lang="en">
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<meta http-equiv=X-UA-Compatible content=IE=EmulateIE7>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<meta name="format-detection" content="telephone=no">
		<title>当前活动</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/custom.css" />
	</head>
	<body>
		<div class="container-fluid header-container">
			<header class="bg-primary">
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1 text-center title">
						当前活动
					</div>
				</div>
			</header>
		</div>
		<table class="table" style="margin-top: 20px">
			<thead>
				<tr>
					<th style="width: 40%">活动名称</th>
					<th style="width: 20%">地点</th>
					<th style="width: 25%">时间</th>
					<th style="width: 15%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="text-align: left">宁夏中阿金融论坛</td>
					<td style="text-align: center">银川</td>
					<td style="text-align: center">2016/9/12</td>
					<td style="text-align: center">
						<button type="button" class="btn btn-primary btn-sm">详情</button>
					</td>
				</tr>
				<tr>
					<td style="text-align: left">宁夏中阿金融论坛</td>
					<td style="text-align: center">银川</td>
					<td style="text-align: center">2016/9/12</td>
					<td style="text-align: center"><button type="button" class="btn btn-primary btn-sm">详情</button>
						
					</td>
				</tr>
			</tbody>
		</table>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	   
		<script type="text/javascript">
		$(function(){
			
		});
		
		</script>
	</body>
</html>